<div class="grid-cols-1 gap-4 p-4 justify-center container mx-auto my-auto">
    <span class="text-9xl text-white">Axxes</span>
</div>
<div class="grid md:grid-cols-2 gap-4 p-4 justify-center container mx-auto h-screen my-auto">
    <div class="border-2 border-orange-500 rounded-md w-full">
        <div class="flex flex-col gap-2 p-4">
            <div class="text-4xl text-white font-bold py-2">Songs</div>
            <input type="search" class="w-full rounded border-2 border-orange-500 bg-transparent p-2 text-base text-white placeholder-white" id="1" (input)="findSongs($event.target)"  placeholder="Find songs..." />
            <div *ngFor="let song of songs" class="p-2 rounded-lg border-2 border-gray-500">
                <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
                    <li class="p-2">
                        <div class="flex items-center space-x-4">
                            <div class="flex-shrink-0">
                                <img class="w-12 h-12 rounded-md" width='1' height='1' [ngSrc]="song['albumImage']" />
                            </div>
                            <div class="flex-1 min-w-0">
                                <div class="text-sm font-medium text-gray-300 truncate dark:text-white">{{ song['name'] }}</div>
                                <div class="text-sm text-gray-500 truncate dark:text-gray-400">{{ song['artist'] }}</div>
                            </div>
                            <button (click)="saveSong(song)" class="hover:cursor-pointer rounded font-bold text-black bg-white  p-2 px-3">Add</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="border-2 border-orange-500 rounded-md w-full pt-2">
        <div class="flex flex-col h-full gap-2 p-4">
            <div class="text-4xl text-white font-bold py-2">Saved</div>
            <input type="search" class="w-full rounded border-2 border-orange-500 bg-transparent p-2 text-base text-white placeholder-white" id="2" (input)="findSongsSaved($event.target)" placeholder="Find saved songs..." />
            <div *ngFor="let song of saved" class="p-2 rounded-lg border-2 border-gray-500">
                <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
                    <li class="p-2">
                        <div class="flex items-center space-x-4">
                            <div class="flex-shrink-0">
                                <img class="w-12 h-12 rounded-md" [src]="song['albumImage']" />
                            </div>
                            <div class="flex-1 min-w-0">
                                <div class="text-sm font-medium text-gray-300 truncate dark:text-white">{{ song['name'] }}</div>
                                <div class="text-sm text-gray-500 truncate dark:text-gray-400">{{ song['artist'] }}</div>
                            </div>
                            <button (click)="deleteSong(song)" class="hover:cursor-pointer font-bold text-white bg-orange-500 rounded py-2 px-3">Delete</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
